DB_URL=your_database_url
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_KEY=your_key
CLOUDINARY_SECRET=your_secret
EMAIL_USER=your_email
EMAIL_PASS=your_password
SESSION_SECRET=your_secret
POST_VERIFY_REDIRECT_URL=your URL to redirect after email verification (e.g., homepage or dashboard)
CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_key
CLOUD_API_SECRET=your_secret
